.homescreen{
    display: flex;
    flex-direction: column;

    &__title{
        display: flex;

        &--unanswered{
            margin-left: 20px;
        }
        &--answered{
            margin-left: 20px;
        }
    }

    &__display{
        display: flex;
        flex-direction: column;
    }
}