.poll{
    &__content{
        display: flex;
        
        &--avatar{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }
    }
}